---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap">You can find my articles on <a href="https://orcid.org/0000-0002-4449-1732">my ORCID profile</a> or on <a href="https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0002-4449-1732&sort=date+desc">NASA ADS</a>.</div>

{% include base_path %}

<!-- <h2>Journal Articles</h2>
<script src="https://bibbase.org/show?bib=https://sangeetpaul.github.io/files/bibtex0.bib&jsonp=1&folding=1"></script> -->

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


