---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h1 id="talks-and-presentations">Talks and presentations</h1>
<ul>
<li>AAS 2025, National Harbor, Maryland</li>
<li>AAS 2024, New Orleans, Lousiana</li>
<li>GWANW 2023, Hanford, Washington</li>
<li>AAS 2023, Seattle, Washington</li>
<li>Astronomical Software Development Workshop, NYC, New York</li>
<li>Intermediate-Mass Black Holes Meeting, San Juan, Puerto Rico</li>
</ul>

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
